## Cynthion r1.4 ECP5 Pin Constraints File
## Hurricane FPGA Redux - USB Sniffer Transparent Proxy
## Device: LFE5U-12F-8BG256C

# Clock - 60MHz oscillator
LOCATE COMP "clk_60mhz" SITE "A8";
IOBUF PORT "clk_60mhz" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_60mhz" 60.000 MHz;

# Reset - User button (active low)
LOCATE COMP "reset_n" SITE "M14";
IOBUF PORT "reset_n" IO_TYPE=LVCMOS33 PULLMODE=NONE;

# USB PHY 0 - CONTROL PHY (connected to ULPI control_phy)
# Note: These are ULPI pins, not direct D+/D-. Mapping to data pins for now.
LOCATE COMP "usb0_dp" SITE "N16";
LOCATE COMP "usb0_dn" SITE "N14";
IOBUF PORT "usb0_dp" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "usb0_dn" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
LOCATE COMP "usb0_pullup" SITE "L16";
IOBUF PORT "usb0_pullup" IO_TYPE=LVCMOS33;

# USB PHY 1 - AUX PHY (connected to ULPI aux_phy)
# Note: These are ULPI pins, not direct D+/D-. Mapping to data pins for now.
LOCATE COMP "usb1_dp" SITE "F16";
LOCATE COMP "usb1_dn" SITE "G15";
IOBUF PORT "usb1_dp" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "usb1_dn" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
LOCATE COMP "usb1_pullup" SITE "J13";
IOBUF PORT "usb1_pullup" IO_TYPE=LVCMOS33;

# USB PHY 2 - TARGET PHY (connected to ULPI target_phy)
# Note: These are ULPI pins, not direct D+/D-. Mapping to data pins for now.
LOCATE COMP "usb2_dp" SITE "R2";
LOCATE COMP "usb2_dn" SITE "R1";
IOBUF PORT "usb2_dp" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "usb2_dn" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
LOCATE COMP "usb2_pullup" SITE "R4";
IOBUF PORT "usb2_pullup" IO_TYPE=LVCMOS33;

# FPGA LEDs (6 LEDs, active low)
LOCATE COMP "led[0]" SITE "E13";
LOCATE COMP "led[1]" SITE "C13";
LOCATE COMP "led[2]" SITE "B14";
LOCATE COMP "led[3]" SITE "A15";
LOCATE COMP "led[4]" SITE "D12";
LOCATE COMP "led[5]" SITE "C11";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[5]" IO_TYPE=LVCMOS33;

# Debug signals - Using PMOD A pins
LOCATE COMP "debug[0]" SITE "C9";
LOCATE COMP "debug[1]" SITE "B9";
LOCATE COMP "debug[2]" SITE "D11";
LOCATE COMP "debug[3]" SITE "C12";
IOBUF PORT "debug[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[3]" IO_TYPE=LVCMOS33;

# UART to SAMD51 (Apollo debug controller)
# Connected to microcontroller; can be routed to host via USB CDC-ACM
LOCATE COMP "uart0_rx" SITE "R14";
LOCATE COMP "uart0_tx" SITE "T14";
IOBUF PORT "uart0_rx" IO_TYPE=LVCMOS33;
IOBUF PORT "uart0_tx" IO_TYPE=LVCMOS33 PULLMODE=UP;

# Clock domain crossing false paths
# If using multiple clock domains (60MHz and 120MHz), mark crossing paths
# FREQUENCY PORT "pll_clk_120mhz" 120.000 MHz;
# Note: CDC should be handled with proper synchronizers, not just false paths
